// module.exports = {
//     "parser": "babel-eslint", //把源码转化成语法树的工具
//     env:{ //指定运行环境
//         browser: true
//     },
//     rules: {

//     }
// }
{
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": [
  ],
  "rules": {
    "quotes": [1, "single"],
    "no-tabs":"off",
    "no-debugger": 0,
    "no-mixed-spaces-and-tabs":"off",
    "vue/no-parsing-error": [2, { "x-invalid-end-tag": false }]
  },
  "globals": {
    "Blob": true,
    "arguments": true,
    "BMap": true,
    "md5": true
  } 
}

